<script>
  'use strict';

  (function () {
    var commentContainer = document.querySelector('#giscus-comments');

    if (!commentContainer) {
      return;
    }

    var script = document.createElement('script');
    script.setAttribute('src', 'https://giscus.app/client.js');
    script.setAttribute('data-repo', '{{ site.comments.giscus.data-repo }}');
    script.setAttribute('data-repo-id', '{{ site.comments.giscus.data-repo-id }}');
    script.setAttribute('data-category', '{{ site.comments.giscus.data-category }}');
    script.setAttribute('data-category-id', '{{ site.comments.giscus.data-category-id }}');
    script.setAttribute('data-mapping', '{{ site.comments.giscus.data-mapping }}');
    script.setAttribute('data-strict', '{{ site.comments.giscus.data-strict }}');
    script.setAttribute('data-reactions-enabled', '{{ site.comments.giscus.data-reactions-enabled }}');
    script.setAttribute('data-emit-metadata', '{{ site.comments.giscus.data-emit-metadata }}');
    script.setAttribute('data-input-position', '{{ site.comments.giscus.data-input-position }}');
    script.setAttribute('data-theme', '{{ site.comments.giscus.data-theme}}');
    script.setAttribute('data-lang', '{{ site.comments.giscus.data-lang }}');
    script.setAttribute('crossorigin', 'anonymous');
    commentContainer.appendChild(script);
  })();
</script>
