---
layout: default
---

<main id="main" class="main-content" aria-label="Content">
  <article class="h-entry">
    {% include page-image.html %}
    <div class="page-wrapper">
      <header class="page-header">
        {% assign title = page.title | markdownify | strip_html %}
        {% if page.link %}
          <h1 id="page-title" class="page-title p-name"><a href="{{ page.link }}">{{ title }} <span class="link-arrow">&rarr;</span></a></h1>
        {% else %}
          <h1 id="page-title" class="page-title p-name">{{ title }}</h1>
        {% endif %}
        <p class="page-meta">
          {% if page.date %}{% include page-date.html %}{% endif %}
          {% if site.read_time %}{% include read-time.html %}{% endif %}
        </p>
      </header>

      {% if page.toc %}{% include post-toc.html %}{% endif %}

      <div class="page-content">
        <div class="e-content">
          {{ content }}
        </div>

        <div class="page-footer-tags">
          {% include page-tags.html %}
        </div>

        {% if page.share %}
          {% include social-share.html %}
        {% endif %}

        {% if page.comments != false %}
          {% include giscus.html %}
        {% endif %}

        {% include page-pagination.html %}
      </div>
    </div>
  </article>
</main>
